<ion-header>
</ion-header>

<ion-content> 

    <ion-card>

        <ion-item>
            <ion-avatar slot="start">
              <img src="/assets/testusericons/marty-avatar.png">
            </ion-avatar>
            <ion-label>Joriscleson</ion-label>
        </ion-item>

        <ion-img src="/assets/costela-mandioca-pressao.jpg"></ion-img>

        <ion-card-header>
            <ion-card-title>Costelinha temperada</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
            <p>The content for this card</p>
        </ion-card-content>

        <ion-item>
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-icon name="clock" slot="end"></ion-icon>
        </ion-item>
    </ion-card>

</ion-content>
